<% provide(:title, "サイト概要") %>
<h1>サイト概要</h1>
<p>このサイトは健康的な毎日を送るために食事や運動など皆さんがやっていることをシェアしていくサイトです。</p>
<p>シェアすることで今までダイエットや筋トレが続かなかったひとも、</p>
<p>毎日投稿することで続けられるようになってもらえたらうれしいです。</p>
<p>みんなで続けられるように頑張っていきましょう！</p>
<p>新規登録は<%= link_to "こちら", signup_path %>から!</p>