<% provide(:title, 'Contact') %>
<div class=introduction>
  <h1>管理人の紹介</h1>
  <h2>鈴木 康太朗</h2>
  <p>生年月日： 2000年01月08日</p>
  <p>はじめまして！</p>
  <p>１度ダイエットをしてみて1カ月で-6kgのダイエットに成功しました。</p>
  <p>そこから楽しくなって色々なダイエット方法や筋トレを試行錯誤しています。</p>
  <p>2018年から自動車関連の会社で働き始めましたが</p>
  <p>学生の頃にあきらめてしまったIT業界で働くという夢をかなえるべく</p>
  <p>現在はプログラミングを勉強中です！</p>
</div>