<% provide(:title, '管理人の紹介') %>
<div class=introduction>
  <h1>管理人の紹介</h1>
  <h3>名前:鈴木 康太朗</h3>
  <h3>生年月日: 2000年01月08日</h3>
  <br>
  <br>
  <h3>趣味</h3>
  <p>１度ダイエットをしてみて1カ月で-6kgのダイエットに成功して</p>
  <p>そこから色々なダイエット方法や筋トレを試して体の変化を見ることが</p>
  <p>楽しくて今ではそれが趣味になっています。</p>
  <br>
  <br>
  <h3>来歴とこれから</h3>
  <p>2015年から2018年まで工業高校で情報系のことを学んでいてIT企業に就職したいと思っていました。</p>
  <p>しかし当時の担任に「IT企業に行ける実力があるのか？入ってから苦労するぞ」と言われ</p>
  <p>部活でもプログラミングをやっていた友人達と比べて実力不足を感じて</p>
  <p>2018年から自動車部品を製造している会社で働き始めました。</p>
  <p>しかし働き始めてから自分が本当にやりたいことや将来のことについて考えて</p>
  <p>本当はITの技術を身に着けて自分でwebサイトやアプリケーションを作りたいと心から思い</p>
  <p>学生の頃に１度あきらめてしまったIT業界で働くという夢をかなえるべく</p>
  <p>現在はプログラミングを勉強中です！</p>
</div>