<% provide(:title, '管理人の紹介') %>
<div class=introduction>
  <h1>管理人の紹介</h1>
  <%= image_tag("its_me.jpg", class: 'me')  %>
  <h3>名前:鈴木 康太朗</h3>
  <br>
  <br>
  <h3>趣味</h3>
  <p>１度ダイエットをしてみて1カ月で-6kgのダイエットに成功して</p>
  <p>そこから色々なダイエット方法や筋トレを試して体の変化を見ることが</p>
  <p>楽しくて今ではそれが趣味になっています。</p>
  <br>
  <br>
  <h3>来歴とこれから</h3>
  <p>2015年から2018年まで工業高校で情報系のことを学んでいました。</p>
  <p>そして2018年から自動車部品を製造している会社で働き始めました。</p>
  <p>そして学生の頃に１度あきらめてしまったIT業界で働くという夢をかなえるべく</p>
  <p>現在はプログラミングを勉強中です！</p>
</div>