<% provide(:title, "おすすめ通販") %>
<div class="shop">
    <h1>iHerb</h1>
    <p>こちらサイトではamazonなどでは売ってないサプリメントやプロテインなど様々な商品が売っています。</p>
    <p>筋トレ用以外にも健康に関する商品や健康的なお菓子などもあります。</p>
    <p>品揃えでは私の知っている中ではNo.1です。</p>
    <p>なのでダイエットや筋トレだけでなく健康やスキンケアをしたい人など幅広い人におすすめです。</p>
    <p>iHerbはこちらから</p>
    <p>↓　　↓　　↓</p>
    <%= link_to image_tag("iherb.jpg", alt: "shop_logo"),'https://jp.iherb.com' %>
    <h1>MYPROTEIN</h1>
    <p>こちらのサイトの特徴はとにかく安く、購入金額によってギフトがもらえることです。</p>
    <p>商品はトレーニングをする人向けのプロテインやサプリメントが多く売っています。</p>
    <p>そのほかにはダイエット時のおやつやフィットネス用の服も売っています。</p>
    <p>特にダイエットやボディメイクをしている人におすすめです。</p>
    <p>新規の方にはプロテインシェイカーと色々な味のプロテインのサンプルがもらえるので初心者の方にもおすすめです。</p>
    <p>MYPROTEINはこちらから</p>
    <p>↓　　↓　　↓</p>
    <%= link_to image_tag("myprotein.jpg", alt: "shop_logo"),'https://www.myprotein.jp/referrals.list?applyCode=KOTARO-R1K' %>
</div>